
.container{
    max-width: 960px;
    margin: 0px auto;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

.d-block{
    display: block !important;
}
